/*=======================*/
#header {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}
#header .logo {
  background: url("../img/logo_s.png") no-repeat 0 -50px;
}
#header .logo:before {
  background: url("../img/logo_s.png") no-repeat 0 0 transparent;
}
#header .topbar .icon-btn {
  color: #999999;
}
#header .topbar .icon-btn:hover {
  color: #333333;
}
#navigator {
  background-color: #ffffff;
  color: #666666;
}
#navigator .nav-header {
  color: #999999;
}
#navigator .nav li a {
  color: #666666;
}
#navigator .nav li a:hover {
  color: #333333;
  background-color: transperant;
}
#navigator .nav li.active {
  box-shadow: inset 5px 0 0 0 #4a96d9;
  background-color: transperent;
}
#navigator .nav li.active > a {
  color: #333333;
}
#navigator .nav li.unfold {
  background-color: transparent;
}
#navigator .nav .sub-nav a {
  color: #888888;
}
#navigator .nav .sub-nav a:hover {
  color: #333333;
}
/*������*/
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4a96d9;
}
/*::-webkit-scrollbar-thumb:active{
  background-color:darken(@theme-secondary,10%);
}*/
#header {
  border-bottom-color: #cccccc;
}
#header .logo:before {
  background-position: 0 -50px;
}
#navigator {
  border-right: 1px solid #cccccc;
}
#navigator .nav-header {
  margin: -1px 0 0;
  padding: 10px 15px;
  border-top: 1px solid #cccccc;
}
#navigator .nav {
  margin-bottom: 5px;
}
